* {
    font-family: "Poppins", sans-serif;
}



body {
    min-height: 100vh;
}

.vnwa_client {
    header {
        height: 80px;
        background: rgba(15, 15, 15, 0.8);
        box-shadow: 0 0 20px rgb(114 153 179 / 80%);
        position: sticky;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;

    }
    .let_talk_button_bg{
        background: linear-gradient(to bottom, #9c19d8, #20a2c2);
            background-size: cover;
            background-blend-mode: overlay;    
    }
    button {
        cursor: pointer;
    }

    header .logo a::before {
        position: absolute;
        top: 0;
        left: -75%;
        z-index: 2;
        display: block;
        content: '';
        width: 50%;
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
    }

    header .logo a:hover {
        transition: box-shadow 1.2s ease-in-out;
        box-shadow: 0 0 20px rgb(114 153 179 / 80%);
    }

    header .logo a:hover::before {
        -webkit-animation: shine 0.75s;
        animation: shine 0.75s;
    }

    @-webkit-keyframes shine {
        100% {
            left: 50%;
        }
    }

    @keyframes shine {
        100% {
            left: 50%;
        }
    }

    .header-menu li a button {
        box-shadow: inset 0 0 0 0 var(--ui-primary);
        transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .header-menu li a button:hover {
        box-shadow: inset 200px 0 0 0 var(--ui-primary);
        color: white;
    }

    .header-menu li a.router-link-active button {
        background: linear-gradient(to bottom, #1c77c2, #9c19d8);
        background-size: cover;
        background-blend-mode: overlay;
        // box-shadow: inset 200px 0 0 0 var(--ui-primary);
        color: white;
    }

    .bg-1 {
        background: linear-gradient(to bottom, #000000, #131043);
        background-size: cover;
        background-blend-mode: overlay;
    }

    .bg-2 {
        background: linear-gradient(to bottom, #000000, #3c1045);
        background-size: cover;
        background-blend-mode: overlay;
    }

    .bg-page-contact {
        background-image: url(/images/bgContactPage.jpg);
        background-size: cover;
    }

    .bg-page-project {
        background-image: url(/images/bgProject.webp);
        background-size: cover;
    }

    .bg-page-blog {
        background-image: url(/images/bgBlog.jpg);
        background-size: cover;
        min-height: 100vh;
    }

    .bg-card {
        background-position: center;
        background-size: cover;
        border-radius: 0.5rem;
        border-width: 1px;
        border-color: rgb(255 255 255 / 0.1);
        background-color: rgba(15, 15, 18, 0.8);
    }

    .color-blue {
        color: rgb(90 90 195);
    }

    .page-hover {
        transition: box-shadow 0.3s ease-in-out;
    }

    .page-hover:hover {
        box-shadow: 0 0 20px rgba(148, 29, 222, 0.8);
    }

    .button-array__button--secondary {
        background: linear-gradient(101.62deg, #000 41.47%, #616cc4 107.62%);
        padding: 2px;
    }

    .animate-glow {
        border-radius: 50%;
        filter: blur(12px);
        -webkit-animation: glow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
        animation: glow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    @keyframes glow {

        0%,
        100% {
            opacity: 0.65;
        }

        50% {
            opacity: 0.25;
        }
    }

    .card {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        border-width: 1px;
        border-color: rgb(255 255 255 / 0.1);
        background-color: rgb(21 22 47 / 0.5);
        padding: 20px 15px;
    }

    .section_why_me_item {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        border-width: 1px;
        border-color: rgb(255 255 255 / 0.1);
        background-color: rgb(21 22 47 / 0.5);
        padding: 20px 15px;
    }

    .section_why_me_item:hover {
        transform: translateY(-0.5rem);
        cursor: pointer;
        background: linear-gradient(to bottom, #8d329f, #5b8dcd);
        background-size: cover;
        background-blend-mode: overlay;
        transition: all 0.5s;
    }

    .section_why_me_item .icon {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .section_why_me_item .icon svg {
        width: 50px;
        height: 50px;
    }

    span.view_website {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2.5rem
    }

    h2 {
        font-size: 2rem
    }

    h3 {
        font-size: 1.75rem
    }

    h4 {
        font-size: 1.5rem
    }

    h5 {
        font-size: 1.25rem
    }

    h6,
    span {
        font-size: 1.05rem
    }

    .project_title {
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: bolder;
    }

    .project_text_view_website {
        font-size: 2rem !important;
    }

    @media (max-width: 640px) {
        header {
            height: 50px
        }

        h1 {
            font-size: 1.95rem
        }

        h2 {
            font-size: 1.65rem
        }

        h3 {
            font-size: 1.35rem
        }

        h4 {
            font-size: 1.15rem
        }

        h5 {
            font-size: 1rem
        }

        h6,
        span {
            font-size: 0.775rem
        }

        .project_title {
            font-size: 2rem;
        }

        .project_text_view_website {
            font-size: 0.8rem !important;
        }
    }
    .animate-glow {
        border-radius: 50%;
        filter: blur(12px);
        z-index: -1;
        -webkit-animation: glow 3s cubic-bezier(.4, 0, .6, 1) infinite;
        animation: glow 3s cubic-bezier(.4, 0, .6, 1) infinite;
      }
      
      .bg-short-about {
        background: linear-gradient(101.69deg, #0a0a28 22.26%, rgba(3, 6, 50, 0) 86.33%);
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px);
      }
      
      @keyframes glow {
      
        0%,
        100% {
          opacity: .65
        }
      
        50% {
          opacity: .25
        }
      }
      
      
      
      
      .section-short-about-animation .left {
        float: left;
        font-size: 0.575rem;
      }
      
      .section-short-about-animation .right {
        float: right;
        display: none;
      }
      
      
      
      .section-short-about-animation .perspective {
        perspective: 1200px;
        -webkit-perspective: 1200px;
      }
      
      .section-short-about-animation .tardis-wrap {
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
      
        transform: translateZ(-300px);
        -webkit-transform: translateZ(-300px);
      }
      
      .section-short-about-animation .tardis {
        position: relative;
        width: 200px;
        height: 200px;
        margin: 100px auto;
      
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
      
        transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
      
        transform: rotateX(-20deg) rotateY(-30deg);
        -webkit-transform: rotateX(-20deg) rotateY(-30deg);
      
        animation-name: spin;
        animation-duration: 15000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      
      @keyframes spin {
        from {
          transform: rotateX(-20deg) rotateY(0deg);
        }
      
        to {
          transform: rotateX(-20deg) rotateY(360deg);
        }
      }
      
      
      
      /*
      #
      # Begin details
      #
      */
      .section-short-about-animation .tardis .side {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 200px;
        height: 360px;
        background-color: var(--ui-main);
      
        box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
      
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        z-index: 1;
      }
      
      .section-short-about-animation .side:nth-of-type(1) {
        transform: translateZ(100px);
        -webkit-transform: translateZ(100px);
      }
      
      .section-short-about-animation .side:nth-of-type(2) {
        transform: rotateY(90deg) translateZ(100px);
        -webkit-transform: rotateY(90deg) translateZ(100px);
      }
      
      .section-short-about-animation .side:nth-of-type(3) {
        transform: rotateY(180deg) translateZ(100px);
        -webkit-transform: rotateY(180deg) translateZ(100px);
      }
      
      .section-short-about-animation .side:nth-of-type(4) {
        transform: rotateY(-90deg) translateZ(100px);
        -webkit-transform: rotateY(-90deg) translateZ(100px);
      }
      
      .section-short-about-animation .tardis .roof {
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: var(--ui-main);
      
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
      
        transform: rotateX(-90deg) translateZ(-100px);
        -webkit-transform: rotateX(-90deg) translateZ(-100px);
        z-index: 2;
      }
      
      
      /* The top roof box */
      .section-short-about-animation .roof-top {
        position: absolute;
      
        left: 30px;
        width: 140px;
        height: 140px;
        z-index: 2;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
      }
      
      .section-short-about-animation .top-lid {
        width: 140px;
        height: 140px;
        background-color: var(--ui-sub-main);
      
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        transform: rotateX(-90deg) translateZ(-89px);
        -webkit-transform: rotateX(-90deg) translateZ(-89px);
      }
      
      .section-short-about-animation .roof-panel {
        position: absolute;
        width: 140px;
        height: 20px;
        background-color: var(--ui-sub-main);
        box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
        top: -20px;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
      }
      
      .section-short-about-animation .roof-panel.a {
        transform: rotateY(0deg) translateZ(70px);
        -webkit-transform: rotateY(0deg) translateZ(70px);
      }
      
      .section-short-about-animation .roof-panel.b {
        transform: rotateY(90deg) translateZ(70px);
        -webkit-transform: rotateY(90deg) translateZ(70px);
      }
      
      .section-short-about-animation .roof-panel.c {
        transform: rotateY(180deg) translateZ(70px);
        -webkit-transform: rotateY(180deg) translateZ(70px);
      }
      
      .section-short-about-animation .roof-panel.d {
        transform: rotateY(-90deg) translateZ(70px);
        -webkit-transform: rotateY(-90deg) translateZ(70px);
      }
      
      /* Light */
      .section-short-about-animation .light {
        position: absolute;
        width: 40px;
        height: 40px;
        top: -60px;
        left: 85px;
        z-index: 3;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
      }
      
      .section-short-about-animation .light-lid {
        width: 30px;
        height: 30px;
        background-color: #eee;
      
      
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        transform: rotateX(-90deg) translateZ(-14px);
        -webkit-transform: rotateX(-90deg) translateZ(-14px);
      }
      
      .section-short-about-animation .light .light-panel {
        position: absolute;
        width: 30px;
        height: 40px;
      
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
      }
      
      .section-short-about-animation .light .light-panel .bottom {
        width: 30px;
        height: 12px;
        position: absolute;
        bottom: 0px;
        background-color: var(--ui-sub-main);
        box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
      }
      
      .section-short-about-animation .light .light-panel .top {
        width: 30px;
        height: 28px;
        position: absolute;
        top: 0px;
        background-color: #d33636;
        box-shadow: inset 1px 0 0 #fff, inset -1px 0 0 #fff, inset 0 1px 0 #cd2e2e, inset 0 -1px 0 #cb4848;
      }
      
      .section-short-about-animation .light-panel.a {
        transform: rotateY(0deg) translateZ(15px);
        -webkit-transform: rotateY(0deg) translateZ(15px);
      }
      
      .section-short-about-animation .light-panel.b {
        transform: rotateY(90deg) translateZ(15px);
        -webkit-transform: rotateY(90deg) translateZ(15px);
      }
      
      .section-short-about-animation .light-panel.c {
        transform: rotateY(180deg) translateZ(15px);
        -webkit-transform: rotateY(180deg) translateZ(15px);
      }
      
      .section-short-about-animation .light-panel.d {
        transform: rotateY(-90deg) translateZ(15px);
        -webkit-transform: rotateY(-90deg) translateZ(15px);
      }
      
      
      /* Floor */
      .section-short-about-animation .tardis .floor {
        position: absolute;
        width: 220px;
        height: 220px;
        left: -10px;
        top: 360px;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
      }
      
      .section-short-about-animation .floor-lid {
        position: absolute;
        width: 220px;
        height: 220px;
        background-color: var(--ui-sub-main);
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        transform: rotateX(90deg) translateZ(109px);
        -webkit-transform: rotateX(90deg) translateZ(109px);
      }
      
      .section-short-about-animation .floor-panel {
        position: absolute;
        width: 220px;
        height: 10px;
        background-color: var(--ui-main);
        box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
      }
      
      .section-short-about-animation .floor-panel.a {
        transform: rotateY(0deg) translateZ(110px);
        -webkit-transform: rotateY(0deg) translateZ(110px);
      }
      
      .section-short-about-animation .floor-panel.b {
        transform: rotateY(90deg) translateZ(110px);
        -webkit-transform: rotateY(90deg) translateZ(110px);
      }
      
      .section-short-about-animation .floor-panel.c {
        transform: rotateY(180deg) translateZ(110px);
        -webkit-transform: rotateY(180deg) translateZ(110px);
      }
      
      .section-short-about-animation .floor-panel.d {
        transform: rotateY(-90deg) translateZ(110px);
        -webkit-transform: rotateY(-90deg) translateZ(110px);
      }
      
      
      
      
      
      
      
      /*
      #
      # Top sign
      #
      */
      .section-short-about-animation .side .top-sign {
        width: 180px;
        height: 28px;
        background-color: var(--ui-sub-main);
        border: solid 1px #54749f;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
        border-radius: 2px;
        position: absolute;
        top: 10px;
        left: 10px;
      
        z-index: 10;
      }
      
      .section-short-about-animation .top-sign .text {
        background-color: #28394d;
        border: solid 1px #54749f;
        border-radius: 2px;
        width: 100px;
        margin: 3px auto;
        height: 20px;
        color: #fff;
        font-size: 12px;
        line-height: 20px;
        padding: 0px 5px;
        box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .4);
        position: relative;
      
        text-shadow: 0px 0px 4px rgba(255, 255, 255, .6);
      }
      
      .section-short-about-animation .text .tiny {
        font-size: 4px;
        line-height: 6px;
        text-align: center;
        width: 20px;
        position: absolute;
        right: 35px;
        top: 4px;
      }
      
      /*
      #
      # Door frame
      #
      */
      .section-short-about-animation .side .door-frame {
        position: absolute;
        width: 160px;
        left: 20px;
        top: 35px;
        bottom: 0px;
      
        background-color: var(--ui-sub-main);
      
        box-shadow: inset 0px 2px 8px rgba(0, 0, 0, .5);
      
        z-index: 5;
      }
      
      
      .section-short-about-animation .door-frame .door {
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 77px;
      
        box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .7);
      }
      
      .section-short-about-animation .door.door-left {
        left: 0px;
      }
      
      .section-short-about-animation .door.door-right {
        right: 0px;
      }
      
      /* Insets */
      .section-short-about-animation .door .door-inset {
        position: absolute;
        left: 10px;
        bottom: 10px;
      
        width: 55px;
        height: 65px;
        box-shadow: inset 0px .5px 5px rgba(0, 0, 0, .5);
      }
      
      .section-short-about-animation .door-inset:nth-of-type(2) {
        bottom: 85px;
      }
      
      .section-short-about-animation .door-inset:nth-of-type(3) {
        bottom: 160px;
      }
      
      /* Sign */
      .section-short-about-animation .door .sign {
        position: absolute;
        left: 15px;
        bottom: 165px;
        width: 45px;
        height: 55px;
        background-color: #d5e4f6;
        box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
      }
      
      /* Window */
      .section-short-about-animation .door .window {
        position: absolute;
        left: 10px;
        bottom: 235px;
      
        width: 55px;
        height: 65px;
        background-color: #28475d;
      }
      
      .section-short-about-animation .window .pane {
        width: 14px;
        height: 28px;
        background-color: #dfe7fc;
        float: left;
        margin: 2px;
        box-shadow: inset 0px 0px 10px #fff;
      }
      
      .section-short-about-animation .pane.a {
        margin-left: 3px;
        margin-right: 1px;
      }
      
      .section-short-about-animation .pane.d {
        margin-left: 3px;
        margin-right: 1px;
      }

}